<div class="sidebar">
    <div class="block">
        <h2>My profile</h2>
        <p style="text-align: center; margin: 0;"><img src="{{site.url}}\assets\images\Icon.png" width="200px" height="200px"></p>
        名前: Poteto143<br>
        趣味: プログラミング・ゲーム<br>
        職業: 学生<br>
        Scratch: <a href="https://scratch.mit.edu/users/Poteto143/">@Poteto143</a>
    </div>
    <div class="block">
        <h2>相互リンク</h2>
        <a href="https://papinosuke.github.io/diary.html">papipupepoの日記</a><br>
        　By <a href="https://scratch.mit.edu/users/papipupepo/">@papipupepo</a><br>
        <a href="http://robo-gamecenter.seesaa.net/">ロボのゲームセンター</a><br>
        　By <a href="https://scratch.mit.edu/users/robo_24/">@robo_24</a><br>
        <a href="https://tan-10.github.io/">tan-10の研究所</a>
        　By <a href="https://scratch.mit.edu/users/tan-10/">@tan-10</a>
        <span style="font-size: 12px;">(相互リンクを希望する方は<a href="{{site.url}}\2020\03\18\Look-for-link-exchange.html">こちら</a>へ)</span>
    </div>
</div>
