<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        {%- if page.pagename -%}
            <title>{{ page.pagename }}</title>
        {%- elsif page.title -%}
            <title>{{page.title}}</title>
        {%- else -%}
            <title>{{site.title}}</title>
        {%- endif -%}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
        <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap" rel="stylesheet">
        <meta name="description" content="Poteto143が日常で起きた出来事などを書き込むサイトです。">
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="og:url" content="{{site.url}}{{page.url}}" />
        <meta property="og:title" content="{{page.title}}"/>
        <meta property="og:image" content="{{ site.url }}/assets/images/preview.png" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161059827-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-161059827-1');
        </script>
    </head>
    <body>    
        <div class="container">
            {% include header.html %}
            <div class="main">
                <div class="block" style="float: left;">
                    {%- if page.pagename -%}
                    <div class="pagetitle"style="border-bottom: 2px solid #b88d00;">
                        <h1>{{ page.pagename }}</h1>
                        {%- if page.date -%}
                            <div style="float: right;">&#x1f552;更新日:{{ page.date | date: "%Y/%m/%d"}}</div><br>
                        {%- endif -%}
                    </div>
                    {%- endif -%}
                    <article>
                        {{ content }}
                    </article>   
                    {%- if page.showfooter -%}
                    {% include footer.html %}
                    {%- endif -%}        
                </div>
            </div>
            {% include sidebar.html %}
        </div>
    </body>
</html>
