<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
        <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap" rel="stylesheet">    </head>
    <body>
        {% include header.html %}
        <div class="main">
            <article>
                <div class="block">
                    <div style="border-bottom: 2px solid #b88d00;">
                        <h1>{{ page.pagename }}</h1>
                        {%- if page.date -%}
                            <div style="float: right;">&#x1f552;更新日:{{ page.date | date: "%Y/%m/%d"}}</div><br>
                        {%- endif -%}
                    </div>
                    {{ content }}
                </div>
            </article>
            {% include sidebar.html %}
            {% include footer.html %}
        </div>
    </body>
</html>